<body>
    

<div class="box">
    <form class="form" id="formularioUsuario">
        <div class="HOME" >
            <a routerLink="/inicio">HOME</a>
        </div>
        <h2>Formulario de Registro</h2>
        <div class="inputBox">
            <input name="nombre" type="text" required>
            <span>Nombre</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input name="apellido" type="text" required>
            <span>Apellido</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input name="email" type="mail" required>
            <span>Email</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input name="contraseña" type="password" required>
            <span>Contraseña</span>
            <i></i>
        </div>
        <div class="links">
            <a routerLink="/login">Ya tengo una cuenta?</a>
        </div>

        <button type="submit" >Registro</button>
    </form>
</div>
</body>