<div class="row justify-content-center">
    <div class="col-sm-8 text-center">
        <img src="../../assets/img/logo.png" alt="" class="mx-auto d-block logo">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light  mt-n5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/inicio">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/tienda">Tienda</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contactanos">
                            <Table>Contactanos</Table>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="!servicio.isUserLoggedIn()" class="nav-link" routerLink="/login">Login</a>
                        <a *ngIf="servicio.isUserLoggedIn()" class="nav-link" (click)="servicio.logout()">Cerrar
                            sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<br>
<div class="infocontacto container">
    <div class="contactfondo jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Contáctanos</h1>
            <p class="lead">Te dejamos aqui todo lo necesario para darte una mayor asistencia en caso de que lo
                necesesites</p>
        </div>
        <div class="media">
            <a href="https://www.facebook.com/profile.php?id=100089709234407" target="_blank"><img
                    alt="Siguenos en Facebook" src="https://cdn-icons-png.flaticon.com/512/174/174848.png" width=40
                    height=40 /></a>
            <div class="media-body">
                <h5 class="mt-0">Facebook</h5>
                .Da click en el icono de facebook para redirecionarte a nuestra pagina de facebook donde encontraras
                novedades y podremos darte una mejor asistencia y resolver tus dudas.
            </div>
        </div>
        <div class="media">
            <a href="https://www.instagram.com/AtomStorage_oficial/" target="_blank"><img alt="Siguenos en Instagram"
                    src="https://cdn-icons-png.flaticon.com/512/174/174855.png" width=40 height=40 /></a>
            <div class="media-body">
                <h5 class="mt-0"> Instagram</h5>
                .Da click en el icono de instagran para redirecionarte a nuestro pagina oficial de instagram en la cual
                encontraras imagenes de los articulos nuevos agregados en nuestro feed.
            </div>
        </div>
        <div class="media">
            <a href="http://twitter.com" target="_blank"><img alt="Siguenos en Twitter"
                    src="https://cdn-icons-png.flaticon.com/512/2190/2190356.png" width=40 height=40 /></a>
            <div class="media-body">
                <h5 class="mt-0"> Twitter</h5>
                .Da click en el icono de twitter para redireccionarte a nuestro twitter en donde encontraras todas las
                noticias oficiales sobre las proximas actualizaciones de la pagina.
            </div>
        </div>
    </div>
</div>

<div class="container" style="background-color: white; padding: 20px; margin: 0 auto; width: 80%;">
    <div class="comentario-form" *ngIf="usuarioActual">
        <form (ngSubmit)="crearComentario()">
            <div class="form-group">
                <label for="comentario">Comentario:</label>
                <textarea class="form-control" id="comentario" rows="3" [(ngModel)]="nuevoComentario"
                    name="nuevoComentario"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-paper-plane"></i> Enviar
            </button>
        </form>
    </div>
    <br>
    <div class="comentario" *ngFor="let comentario of comentarios">
        <div class="media">
            <img class="mr-3 perfil-img" [src]="obtenerRutaImagenAleatoria()" alt="Foto de perfil">
            <div class="media-body">
                <h5 class="mt-0">{{comentario.nombre}}</h5>
                <p>{{comentario.comentario}}</p>
                <small class="text-muted">{{comentario.fecha | date:'short'}}</small>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">