<footer>
    <div class="col-12 fixed-bottom">
        <p class="pie text-center text-white small"> &copy Todos los derechos reservados | Asgot.com | 2022 </p>
    </div>
</footer>
<footer class="footer-container color-scheme-light">
    <div class="container">
        <div class="container3 main-footer">
            <aside class="footer-sidebar widget-area row" role="complementary">
                <div class="footer-column footer-column-1 col-12 col-sm-6">
                  <div id="block-8" class="wd-widget widget footer-widget  widget_block widget_media_image">
                    <figure class="wp-block-image size-large">
                      <img decoding="async" loading="lazy" width="450" height="250" src="../../assets/img/FooterAtom.png" alt="" class="wp-image-9257">
                    </figure>
                  </div>
                  <div id="block-13" class="wd-widget widget footer-widget  widget_block">
                    <div class="is-layout-flex wp-container-3 wp-block-columns">
                      <div class="is-layout-flow wp-block-column" style="flex-basis:100%">
                        <p>Somos una compañía apasionada en lo que hacemos: brindar una excelente atención al cliente, asesoría de primera y venta de productos informáticos de altísima calidad.</p>
                        <p>Quito - Ecuador</p>
                        <p>Dirección:</p>
                        <p>Teléfonos: &nbsp;04-3071284 - 0986353235</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="mapouter">
                    <div class="gmap_canvas">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7875347594754!2d-78.51888774967999!3d-0.225079035451715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a28366b3d81%3A0xc6029256689ed873!2sInstituto%20Superior%20Tecnol%C3%B3gico%20Yavirac!5e0!3m2!1ses-419!2sec!4v1672121903349!5m2!1ses-419!2sec"
                        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>
                </div>
              </aside>
        </div>
    </div>
</footer>